body:has(dialog) {
    overflow: hidden;
}
 
body {       
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    margin: 20px;
    overflow: hidden scroll;
}

button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--container-color-label);
    background-color: #00000020;
    border: 0;
    letter-spacing: 0.5px;
    font-size: 120%;  
}

input{
    font-family: consolas;
}

dialog {
    border: 0;
    background-color: #444;
    color: white;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9); 
}

dialog>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
}

dialog>header>label {
    height: 25px;
    background-color: #00000020;
    padding: 10px 15px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    text-wrap-mode: nowrap;
    overflow: hidden;
    margin: 0;
}

dialog>header>button {
    cursor: pointer;
    display: flex;
    transition: box-shadow 0.1s ease;
    background-color: #00000020;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 100%;   
    text-indent: 10px; 
    box-shadow: 0 0 0 #fff;
}

dialog>header>button:hover {
    box-shadow: 0 0 5px #fff;
}

dialog>header>button::before {
    margin: 5px 0;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px; 
    background-repeat: no-repeat;
    background-position: center;
}

dialog>header>button[type="back"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z' fill='white'/%3E%3C/svg%3E");
}

dialog>header>button[type="save"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='white'/%3E%3C/svg%3E");
}

dialog>header>button[type="delete"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z' fill='white'/%3E%3C/svg%3E");
}

dialog>header>button[type="attach"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z' fill='white'/%3E%3C/svg%3E");
}

button#logout_button::before,button#new_button::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px; 
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    background-color: var(--container-color-label);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

button#logout_button::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z'/%3E%3C/svg%3E");
}

button#new_button::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z'/%3E%3C/svg%3E");
}

dialog>footer {
    padding: 10px;
    border-top: 1px solid #666;
    text-align: right;
}

@media (max-width: 900px) {
    dialog {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 20px;
    }
}
@media (min-width: 901px) {
    dialog:not([type]) {
        width: 820px;
        height: 90%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0px 10px 0px #000;
    }
}

/* Auth */ 

@media (min-width: 901px) {
    dialog[type="auth"] {
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0px 10px 0px #000;
    }
}

dialog>buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

dialog>buttons>button:before{
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px; 
    background-repeat: no-repeat;
    background-position: center;
}

dialog>buttons>button#auth_login_git::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 512'%3E%3Cpath d='M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z' fill='white'/%3E%3C/svg%3E");
}

dialog>buttons>button#auth_login_google::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 488 512'%3E%3Cpath d='M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z' fill='white'/%3E%3C/svg%3E");
}

dialog[type="alert"] {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #000;
}

dialog[type="alert"] content{
    margin:10px 0;
    display: block;
}

dialog[type="alert"] button{
    float: right;
}